<template>
    <div class="container">
    <div class="d-flex page-header">
        <h1 class="page-title">
            Edit User
        </h1>
        <div class="d-flex order-lg-2 ml-auto">
            <div class="nav-item d-none d-md-flex">
               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-3">            
            <form @submit.prevent="updateUser">
                <div class="form-group">
                    <label class="form-label">Full Name<span class="form-required">*</span></label>
                    <input type="text" class="form-control" name="name" v-model="user.name"/>
                </div>
                <div class="form-group">
                    <label class="form-label">Email<span class="form-required">*</span></label>
                    <input type="email" class="form-control" name="email" v-model="user.email"/>
                </div>
                <div class="form-group">
                    <label class="form-label">Attach Role</label>
                    <selectize data-placeholder="Choose Role" v-model="user.roles" id="" class="form-control custom-select select-beast" multiple="true">
                        <option v-for="role in roles" :key="role.id" v-bind:value="role.id">
                            {{ role.display_name }}
                        </option>
                    </selectize >
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-sm btn-primary">Update</button>
                    &nbsp;
                 <router-link to="/user/list" class="btn btn-sm btn-info"> Cancel </router-link>
                </div>
            </form>
        </div>
    </div>
</div>
</template>

<script>
import Selectize from 'vue2-selectize'
    export default {
    components: {
        Selectize
    },
      data() {
        return {
          user: {},
          roles:{}
        }
      },
      created() {
        let uri = `http://127.0.0.1:8000/api/users/edit/${this.$route.params.id}`;//Vue.http.get(`api/user/edit/${this.$route.params.id}`, {});//
        this.axios.get(uri).then((response) => {
            this.user = response.data;
            console.log(this.user);
        });
        let url = 'http://127.0.0.1:8000/api/get_roles';//Vue.http.get('api/users', {});
        this.axios.get(url).then(response => {
        this.roles = response.data.data;
        console.log(this.roles);
      });
      },
      methods: {
        updateUser() {
          let uri = `http://127.0.0.1:8000/api/users/update/${this.$route.params.id}`;//Vue.http.get(`api/users/update/${this.$route.params.id}`, {});
          this.axios.post(uri, this.user).then((response) => {
            this.$router.push({name: 'user-list', params: { success: 'User updated successfully.' }});
          });
        }
      }
    }
</script>
