<template>
    <div class="container">
    <div class="d-flex page-header">
        <h2 class="page-title">
            Dashboard
        </h2>
        <div class="d-flex order-lg-2 ml-auto">
            <div class="nav-item d-none d-md-flex">
            </div>
        </div>
    </div>
    <div class="row row-cards">
        <div class="col-sm-6 col-lg-3">
        <div class="card p-3">
            <div class="d-flex align-items-center">
            <span class="stamp stamp-md bg-blue mr-3">
                <i class="fe fe-user"></i>
            </span>
            <div>
                <h4 class="m-0"><a href="javascript:void(0)">132 <small>Roles</small></a></h4>
                <small class="text-muted">Show Role list</small>
            </div>
            </div>
        </div>
        </div>
        <div class="col-sm-6 col-lg-3">
        <div class="card p-3">
            <div class="d-flex align-items-center">
            <span class="stamp stamp-md bg-green mr-3">
                <i class="fe fe-user-check"></i>
            </span>
            <div>
                <h4 class="m-0"><a href="javascript:void(0)">78 <small>Permissions</small></a></h4>
                <small class="text-muted">Permissions List</small>
            </div>
            </div>
        </div>
        </div>
        <div class="col-sm-6 col-lg-3">
        <div class="card p-3">
            <div class="d-flex align-items-center">
            <span class="stamp stamp-md bg-red mr-3">
                <i class="fe fe-users"></i>
            </span>
            <div>
                <h4 class="m-0"><a href="javascript:void(0)">1,352 <small>Members</small></a></h4>
                <small class="text-muted">163 registered today</small>
            </div>
            </div>
        </div>
        </div>
        <div class="col-sm-6 col-lg-3">
        <div class="card p-3">
            <div class="d-flex align-items-center">
            <span class="stamp stamp-md bg-yellow mr-3">
                <i class="fe fe-message-square"></i>
            </span>
            <div>
                <h4 class="m-0"><a href="javascript:void(0)">132 <small>Messages</small></a></h4>
                <small class="text-muted">16 waiting</small>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
