<template>
   <div class="container">
    <div class="d-flex page-header">
        <h1 class="page-title">
         <router-link to="/user/create" class="btn btn-sm btn-info"><i class="fe fe-plus-square"></i> Create New User</router-link>
        </h1>
        <div class="d-flex order-lg-2 ml-auto">
            <div class="nav-item d-none d-md-flex">
               <div v-if="success" class="alert alert-icon alert-primary alert-dismissible" role="alert">
                    <i class="fe fe-bell mr-2" aria-hidden="true"></i> 
                    <button type="button" class="close" data-dismiss="alert"></button>
                    {{ success }} 
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
            <h3 class="card-title">All Users</h3>
            </div>
            <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap datatable">
                <thead>
                <tr>
                    <th class="w-1">No.</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="user in users" :key="user.id">
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                          <span v-for="(role,roleIndex) in user.roles" :key="roleIndex">
                          [{{ role['name'] }} <a class="icon" title="Remove Role" v-on:click="removeUserRole(user.id,role['id'],roleIndex)"><i class="fe fe-trash"></i></a>]
                          </span>
                        </td>
                        <td><router-link :to="{name: 'user-edit', params: { id: user.id }}" class="icon" title="Edit User"><i class="fe fe-edit"></i></router-link>&nbsp;
                        <a class="icon" title="Delete User" v-on:click="deleteUser(user.id)"><i class="fe fe-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
            
            </div>
        </div>
        </div>
    </div>
</div>
</template>

<script>
  export default {
      data() {
        return {
          users: [],
          success:''
        }
      },
      created() {
        let uri = 'http://127.0.0.1:8000/api/users';//Vue.http.get('api/users', {});
        this.axios.get(uri).then(response => {
        this.users = response.data.data;
        console.log(this.users);
        console.log(response.data);
      });
      if (this.$route.params.success) {
        this.success = this.$route.params.success;
        console.log(this.success);
      }
    },
    methods: {
      deleteUser(id)
      {
        if(confirm("Do you really want to delete?")){
          let uri = `http://127.0.0.1:8000/api/users/delete/${id}`;//Vue.http.get(`api/user/delete/${id}`, {});
          this.axios.delete(uri).then(response => {
          this.users.splice(this.users.findIndex(user => user.id === id), 1);
          this.success = 'User deleted successfully.'
          });
        }
      },
      removeUserRole(user_id,role_id,roleIndex)
      {
        if(confirm("Do you really want to remove?")){
          let uri = `http://127.0.0.1:8000/api/remove_user_role/${user_id}/${role_id}`;
          //let uri = this.$http.get(`/api/remove_user_role/${user_id}/${role_id}`);
          this.axios.get(uri).then(response => {
            
            let uri = 'http://127.0.0.1:8000/api/users';//Vue.http.get('api/users', {});
              this.axios.get(uri).then(response => {
              this.users = response.data.data;
            });

            this.success = 'Role remove successfully.'
            
          });
        }
      }
    }
  }

</script>
